deva7km/media
deva7km/static
deva7km/staticfiles
deva7km/logs
venv
deva7km/deva7km/prod_settings.py
deva7km/deva7km/local_settings.py
#deva7km/catalog/migrations/

deva7km/db.sqlite3
deva7km/run_both.py