.form-check-input {
    width: 20px;
    height: 20px;
}

.form-check-input.bg-success {
    background-color: green !important;
    border-color: green !important;
}

.form-check-input.bg-danger {
    background-color: #ee5f5b !important;
    border-color: #ee5f5b !important;
}

.form-check-input.bg-warning {
    background-color: #f89406 !important;
    border-color: #f89406 !important;
}
