.badge-container {
    margin-left: 5px; /* Добавляем отступ слева у контейнера бейджей */
}

.badge-not-shipped {
    background-color: #f89406;
    margin-left: 5px; /* Добавляем отступ слева */
}

.badge-not-receipt {
    background-color: #ee5f5b;
    margin-left: 5px; /* Добавляем отступ слева */
}

.badge-not-paid {
    background-color: #6c757d;
    margin-left: 5px; /* Добавляем отступ слева */
}

.badge-ready {
    background-color: green;
    margin-left: 5px; /* Добавляем отступ слева */
}

.ttn-badge {
    background-color: lightgray; /* Замените на нужный цвет, если требуется */
    margin-left: 5px; /* Добавляем отступ слева */
    font-size: 1.25rem; /* Увеличиваем размер шрифта */
    cursor: pointer;
}

.ttn-badge.badge-copied {
    background-color: #d4edda;
    color: red;
}

.switch-container .bg-success {
    background-color: #28a745 !important;
}

.switch-container .bg-warning {
    background-color: #ffc107 !important;
}

.switch-container .bg-danger {
    background-color: #dc3545 !important;
}

.switch-container .bg-secondary {
    background-color: #6c757d !important;
}

.list-group-item {
    border: none; /* Убираем границу между элементами списка */
    margin-bottom: 10px; /* Добавляем отступ снизу между элементами списка */
}

.filter-button {
    margin-bottom: 5px; /* Добавляем отступ снизу между кнопками фильтров */
}

.toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1055; /* Устанавливаем высокий z-index для отображения поверх других элементов */
    width: auto; /* Устанавливаем ширину авто для уменьшения ширины */
    max-width: 500px; /* Устанавливаем максимальную ширину */
}