{% extends 'seller_cabinet/base.html' %}

{% block title %}Предзаказы{% endblock %}

{% block content %}
    <div class="toast-container"></div>
    <h1 class="mb-4">Предзаказы</h1>
    <a href="{% url 'preorder_create' %}" class="btn btn-primary mt-4 mb-4">Создать новый предзаказ</a>
    <div class="mb-4">
        <button class="btn btn-outline-primary btn-sm filter-button active" data-filter="all">Все</button>
        <button class="btn btn-outline-warning btn-sm filter-button" data-filter="not-shipped">Не отправленные</button>
        <button class="btn btn-outline-danger btn-sm filter-button" data-filter="not-receipted">Не пробитые</button>
    </div>
    <div class="mb-4">
        <div class="input-group">
            <input type="text" id="search-input" class="form-control" placeholder="Поиск">
            <button class="btn btn-outline-secondary" type="button" id="clear-search">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="row" id="preorders-container">
        {% for preorder in preorders %}
            <div class="col-md-4 mb-4" data-id="{{ preorder.id }}" data-shipped="{{ preorder.shipped_to_customer }}" data-receipt="{{ preorder.receipt_issued }}">
                <div class="card">
                    <div class="badge-container mb-2 mt-2 ml-2">
                        {% if not preorder.shipped_to_customer and not preorder.receipt_issued %}
                            <span class="badge mb-1" style="background-color: #ee5f5b;">Не пробит</span>
                            <span class="badge" style="background-color: #f89406;">Не отправлен</span>
                        {% elif not preorder.shipped_to_customer %}
                            <span class="badge" style="background-color: #f89406;">Не отправлен</span>
                        {% elif not preorder.receipt_issued %}
                            <span class="badge" style="background-color: #ee5f5b;">Не пробит</span>
                        {% else %}
                            <span class="badge" style="background-color: green;">Отправлен и пробит</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">{{ preorder.full_name }}</h5>
                            <a href="{% url 'preorder_edit' preorder.id %}" class="text-muted">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        <p class="card-text" style="white-space: pre-wrap;">{{ preorder.text }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>ТТН:</strong> <span class="badge bg-light ttn-badge">{{ preorder.ttn }}</span></li>
                            <li class="list-group-item"><strong>Статус:</strong> {{ preorder.status }}</li>
                            <li class="list-group-item"><strong>Дроп:</strong> {% if preorder.drop %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</li>
                            <li class="list-group-item d-flex justify-content-between">
                                <div class="form-check form-switch">
                                    <input class="form-check-input shipped-switch {% if preorder.shipped_to_customer %}bg-success{% else %}bg-warning{% endif %}" type="checkbox" data-id="{{ preorder.id }}" {% if preorder.shipped_to_customer %}checked{% endif %}>
                                    <label class="form-check-label">Отправлен</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input receipt-switch {% if preorder.receipt_issued %}bg-success{% else %}bg-danger{% endif %}" type="checkbox" data-id="{{ preorder.id }}" {% if preorder.receipt_issued %}checked{% endif %}>
                                    <label class="form-check-label">Чек</label>
                                </div>
                            </li>
                            <li class="list-group-item text-muted"><small><strong>Дата создания:</strong> {{ preorder.created_at|date:"j F Y г. в H:i" }}</small></li>
                            <li class="list-group-item text-muted"><small><strong>Дата изменения:</strong> {{ preorder.updated_at|date:"j F Y г. в H:i" }}</small></li>
                            <li class="list-group-item text-muted"><small><strong>Изменено пользователем:</strong> {% if preorder.last_modified_by %}{{ preorder.last_modified_by.username }}{% else %}N/A{% endif %}</small></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3"></div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'seller_cabinet/js/preorders/preorder.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="{% static 'seller_cabinet/css/styles.css' %}" rel="stylesheet">
{% endblock %}
