{% extends 'seller_cabinet/base.html' %}

{% block title %}Предзаказы{% endblock %}

{% block content %}
    <div class="toast-container"></div>
    <h1 class="mb-4">Предзаказы</h1>
    <a href="{% url 'preorder_create' %}" class="btn btn-primary mt-4 mb-4">Создать новый предзаказ</a>
    <div class="mb-4">
        <button class="btn btn-outline-primary btn-sm filter-button active" data-filter="all">Все</button>
        <button class="btn btn-outline-warning btn-sm filter-button" data-filter="not-shipped">Не отправленные</button>
        <button class="btn btn-outline-danger btn-sm filter-button" data-filter="not-receipted">Не пробитые</button>
        <button class="btn btn-outline-secondary btn-sm filter-button" data-filter="not-paid">Не оплачен</button>
    </div>
    <div class="mb-4">
        <div class="input-group">
            <input type="text" id="search-input" class="form-control" placeholder="Поиск">
            <button class="btn btn-outline-secondary" type="button" id="clear-search">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="row" id="preorders-container">
        {% include 'seller_cabinet/preorders/preorder_card.html' with preorders=preorders %}
    </div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'seller_cabinet/js/preorders/preorder.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="{% static 'seller_cabinet/css/styles.css' %}" rel="stylesheet">
{% endblock %}
