{% for preorder in preorders %}
    <div class="col-md-4 mb-4" data-id="{{ preorder.id }}" data-shipped="{{ preorder.shipped_to_customer }}" data-receipt="{{ preorder.receipt_issued }}" data-payment="{{ preorder.payment_received }}" data-created-at="{{ preorder.created_at }}">
        <div class="card">
            <div class="badge-container mb-2 mt-2 ml-2">
                {% if not preorder.shipped_to_customer %}
                    <span class="badge mb-1 badge-not-shipped">Не отправлен</span>
                {% endif %}
                {% if not preorder.receipt_issued %}
                    <span class="badge badge-not-receipt">Не пробит</span>
                {% endif %}
                {% if not preorder.payment_received %}
                    <span class="badge badge-not-paid">Не оплачен</span>
                {% endif %}
                {% if preorder.shipped_to_customer and preorder.receipt_issued and preorder.payment_received %}
                    <span class="badge badge-ready">Готов</span>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{ preorder.full_name }}</h5>
                    <a href="{% url 'preorder_edit' preorder.id %}" class="text-muted">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
                <p class="card-text" style="white-space: pre-wrap;">{{ preorder.text }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>ТТН:</strong> <span class="badge bg-light ttn-badge">{{ preorder.ttn }}</span></li>
                    <li class="list-group-item"><strong>Статус:</strong> {{ preorder.status }}</li>
                    <li class="list-group-item"><strong>Дроп:</strong> {% if preorder.drop %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</li>
                    <li class="list-group-item switch-group">
                        <div class="switch-container">
                            <div class="form-check form-switch">
                                <input class="form-check-input shipped-switch {% if preorder.shipped_to_customer %}bg-success{% else %}bg-warning{% endif %}" type="checkbox" data-id="{{ preorder.id }}" {% if preorder.shipped_to_customer %}checked{% endif %}>
                                <label class="form-check-label">Отправлен</label>
                            </div>
                        </div>
                        <div class="switch-container">
                            <div class="form-check form-switch">
                                <input class="form-check-input receipt-switch {% if preorder.receipt_issued %}bg-success{% else %}bg-danger{% endif %}" type="checkbox" data-id="{{ preorder.id }}" {% if preorder.receipt_issued %}checked{% endif %}>
                                <label class="form-check-label">Чек</label>
                            </div>
                        </div>
                        <div class="switch-container">
                            <div class="form-check form-switch">
                                <input class="form-check-input payment-switch {% if preorder.payment_received %}bg-success{% else %}bg-secondary{% endif %}" type="checkbox" data-id="{{ preorder.id }}" {% if preorder.payment_received %}checked{% endif %}>
                                <label class="form-check-label">Оплата</label>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-muted"><small><strong>Дата создания:</strong> {{ preorder.created_at }}</small></li>
                    <li class="list-group-item text-muted"><small><strong>Дата изменения:</strong> {{ preorder.updated_at }}</small></li>
                    <li class="list-group-item text-muted"><small><strong>Изменено пользователем:</strong> {% if preorder.last_modified_by %}{{ preorder.last_modified_by }}{% else %}N/A{% endif %}</small></li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
