{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        /* Common Styles */
        .mobile-view {
            display: none;
        }

        .desktop-view {
            display: table;
        }

        @media (max-width: 768px) {
            .mobile-view {
                display: block;
            }

            .desktop-view {
                display: none;
            }

            .preorder-block {
                margin-bottom: 10px; /* Space after each block */
                padding: 15px;
                border-radius: 5px; /* Rounded corners */
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
                font-size: 14px; /* Smaller font size for better fit */
            }

            .preorder-table {
                width: 100%;
                border-collapse: collapse; /* Consistent borders */
            }

            .preorder-table th, .preorder-table td {
                padding: 8px; /* Padding for table cells */
                text-align: left;
            }

            .preorder-table th {
                width: 40%; /* Fixed width for headers */
            }

            .button {
                display: inline-block;
                padding: 10px 20px;
                border: none; /* Remove border */
                text-align: center;
                text-decoration: none;
                font-size: 14px;
                border-radius: 4px;
                transition: background-color 0.3s ease;
                margin-top: 10px; /* Space above */
                margin-bottom: 20px; /* Space below */
            }

            /* Light Theme */
            body.light-mode .preorder-block {
                background-color: #ffffff; /* Light background */
                color: #333333; /* Dark text */
                border: 1px solid #e0e0e0; /* Light border */
            }

            body.light-mode .preorder-table th {
                background-color: #f2f2f2; /* Light background for headers */
                color: #333; /* Dark text */
            }

            body.light-mode .preorder-table td {
                background-color: #ffffff; /* Light background for cells */
                color: #333; /* Dark text */
            }

            body.light-mode .button {
                background-color: #007bff; /* Main button color */
                color: #fff; /* White text */
            }

            body.light-mode .button:hover {
                background-color: #0056b3; /* Dark blue on hover */
            }

            /* Dark Theme */
            body.dark-mode .preorder-block {
                background-color: #333333; /* Slightly lighter dark background */
                color: #f1f1f1; /* Light text */
                border: 1px solid #555555; /* Slightly lighter dark border */
            }

            body.dark-mode .preorder-table th {
                background-color: #444444; /* Dark background for table headers */
                color: #f1f1f1; /* Light text */
            }

            body.dark-mode .preorder-table td {
                background-color: #333333; /* Match the block background */
                color: #e0e0e0; /* Light text for table data */
            }

            body.dark-mode .button {
                background-color: #505050; /* Dark grey button */
                color: #fff; /* White text */
            }

            body.dark-mode .button:hover {
                background-color: #6c757d; /* Lighter grey on hover */
            }
        }

        .object-tools li:first-child {
            z-index: 2;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="update-button-container">
        <a href="{% url 'update_tracking_status' %}" class="button">
            Обновить статусы заказов Nova Poshta
        </a>
    </div>
    {{ block.super }}
{% endblock %}

{% block result_list %}
    <div id="changelist">
        <div class="results desktop-view">
            {{ block.super }}
        </div>
        <div class="results mobile-view">
            {% if cl.result_count %}
                {% for obj in cl.result_list %}
                    <div class="preorder-block">
                        <table class="preorder-table">
                            <tr>
                                <th>ID:</th>
                                <td>{{ obj.id }}</td>
                            </tr>
                            <tr>
                                <th>Имя и Фамилия:</th>
                                <td>{{ obj.full_name }}</td>
                            </tr>
                            <tr>
                                <th>Инфо:</th>
                                <td>{{ obj.text }}</td>
                            </tr>
                            <tr>
                                <th>Дроп:</th>
                                <td>
                                    <img src="{% static 'admin/img/icon-'|add:obj.drop|yesno:'yes,no'|add:'.svg' %}" alt="{% if obj.drop %}Да{% else %}Нет{% endif %}">
                                </td>
                            </tr>
                            <tr>
                                <th>Чек:</th>
                                <td>
                                    <img src="{% static 'admin/img/icon-'|add:obj.receipt_issued|yesno:'yes,no'|add:'.svg' %}" alt="{% if obj.receipt_issued %}Да{% else %}Нет{% endif %}">
                                </td>
                            </tr>
                            <tr>
                                <th>ТТН:</th>
                                <td>{{ obj.ttn }}</td>
                            </tr>
                            <tr>
                                <th>Отправлен:</th>
                                <td>
                                    <img src="{% static 'admin/img/icon-'|add:obj.shipped_to_customer|yesno:'yes,no'|add:'.svg' %}" alt="{% if obj.shipped_to_customer %}Да{% else %}Нет{% endif %}">
                                </td>
                            </tr>
                            <tr>
                                <th>Статус посылки:</th>
                                <td>{{ obj.status }}</td>
                            </tr>
                            <tr>
                                <th>Дата создания:</th>
                                <td>{{ obj.created_at }}</td>
                            </tr>
                            <tr>
                                <th>Дата изменения:</th>
                                <td>{{ obj.updated_at }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <a href="{% url 'admin:catalog_preorder_change' obj.id %}" class="button">Перейти к заказу</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет результатов.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
