{% extends "base.html" %}

{% block title %}Все товары{% endblock %}

{% block breadcrumbs %}
    <!-- Хлебные крошки для главной страницы -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Домой</a></li>
            <li class="breadcrumb-item active" aria-current="page">Все товары</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>Список категорий и товаров</h1>
    <div class="container">
        <div class="row">
            {% for category in categories %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></h5>
                            <ul class="list-group list-group-flush">
                                {% for product in category.product_set.all %}
                                    {% if product.is_active %}
                                        <li class="list-group-item"><a href="{% url 'product_detail' category.slug product.slug %}">{{ product.title }}</a></li>
                                    {% endif %}
                                {% empty %}
                                    <li class="list-group-item">Нет активных товаров в этой категории</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Нет категорий</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
