<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{% get_current_language as LANGUAGE_CODE %}{% if LANGUAGE_CODE == 'ru' %}ru{% elif LANGUAGE_CODE == 'uk' %}uk{% else %}en{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}{% trans 'Сайт deva7km' %}{% endblock %}</title>

    <!-- Подключение стилей -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="{% static 'catalog/css/styles.css' %}" rel="stylesheet">

    <!-- Подключение jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="d-flex justify-content-end pt-1 pb-1">
        {% include 'search_menu.html' %}
        {% include 'languages_menu.html' %}
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <span style="font-family: 'Pacifico', cursive; font-size: 24px;">{% trans 'Дева' %}</span>
            <img src="{% static 'dress.png' %}" alt="Логотип сайта" width="30" height="30" style="margin-left: 10px; transform: rotate(10deg);">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            {% include 'main_menu.html' %}
            {% include 'header_links.html' %}
        </div>
        <div class="d-flex justify-content-center">
            {% include 'cart_info.html' %}
        </div>
        <div class="d-flex justify-content-end">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn btn-info btn-sm ml-1">{% trans "Профиль" %}</a>
                <a href="{% url 'logout' %}" class="btn btn-danger btn-sm ml-1">{% trans "Выйти" %}</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-sm ml-1">{% trans "Войти" %}</a>
            {% endif %}
        </div>
    </nav>
</header>

<main class="container mt-4">
    {% block content %}{% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-primary">
    <div class="container">
        {% include 'contact_menu_bottom.html' %}
    </div>
</footer>

<!-- Подключение остальных скриптов -->
<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" defer></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
<!-- Пользовательские скрипты -->
<script src="{% static 'facebook_pixel.js' %}" defer></script>
</body>
</html>
