{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Корзина' %}{% endblock %}

{% block extra_js %}
<script>
    fbq('set', 'autoConfig', false, '[763864302423800]');
  function trackInitiateCheckout(products, totalPrice, totalQuantity) {
    const contentIds = products.map(product => product.modification.custom_sku);
    const contents = products.map(product => ({
      id: product.modification.custom_sku,
      quantity: product.quantity
    }));

    fbq('track', 'InitiateCheckout', {
      contents,
      content_ids: contentIds,
      content_type: 'product',
      value: totalPrice,
      currency: 'UAH',
      num_items: totalQuantity
    });
  }

  const initiateCheckoutButton = document.querySelector('a.btn-success');
  initiateCheckoutButton.addEventListener('click', () => {
    trackInitiateCheckout({{ cart_items_json|safe }}, {{ cart_total_price }}, {{ cart_total_quantity }});
  });
</script>
{% endblock %}

{% block breadcrumbs %}
    <!-- Хлебные крошки для страницы корзины -->
    <nav aria-label="breadcrumb" style="margin-top: 5px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans 'Главная' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Корзина' %}</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <h1>{% trans 'Корзина' %}</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>{% trans 'Изображение' %}</th>
                    <th>{% trans 'Наименование' %}</th>
                    <th>{% trans 'Цвет' %}</th>
                    <th>{% trans 'Размер' %}</th>
                    <th>{% trans 'Количество' %}</th>
                    <th>{% trans 'Сумма' %}</th>
                    <th>{% trans 'Удалить' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr class="table-active">
                        <td><a href="{{ item.modification.product.get_absolute_url }}"><img src="{{ item.modification.thumbnail_image_modification_url }}" alt="Миниатюра" class="img-thumbnail"></a></td>
                        <td><a href="{{ item.modification.product.get_absolute_url }}">{{ item.modification.product.title }}</a></td>
                        <td>{{ item.modification.color.name }}</td>
                        <td>{{ item.modification.size.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            {% if item.item_total_sale > 0 %}
                                <del>{{ item.item_total_regular }} грн.</del> <!-- Зачеркнутая обычная цена -->
                                <br>
                                {{ item.item_total_sale }} грн. <!-- Акционная цена -->
                            {% else %}
                                {{ item.item_total_regular }} грн. <!-- Обычная цена, если нет акции -->
                            {% endif %}
                        </td>
                        <td>
                            <form action="{% url 'remove_from_cart' item.modification.custom_sku %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">{% trans 'Удалить' %}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p><strong>{% trans 'Итого количество товаров' %}:</strong> {{ cart_total_quantity }} шт.</p>
    <p><strong>{% trans 'Итоговая цена:' %}</strong> {{ cart_total_price }} грн.</p>
    <div class="btn-group" role="group">
        <form action="{% url 'clear_cart' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-sm">{% trans 'Очистить корзину' %}</button>
        </form>
        <button type="button" class="btn btn-primary btn-sm ml-2 mb-2" onclick="goBack()">{% trans 'Продолжить покупки' %}</button>
        <a href="{% url 'complete_order' %}" class="btn btn-success btn-sm ml-2 mb-2 {% if cart_items %}{% else %}disabled{% endif %}">
            {% trans 'Оформить заказ' %}
        </a>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}

