{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans category.name %}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="margin-top: 5px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans 'Главная' %}</a></li>
            {% for crumb in category.get_ancestors %}
                <li class="breadcrumb-item"><a href="{% url 'category_detail' crumb.slug %}">{% trans crumb.name %}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{% trans category.name %}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>{% trans category.name %}</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 position-relative">
                    {% if product.is_sale and product.retail_sale_price > 0 %}
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2">
                            <span class="text-white">{% trans 'Распродажа' %}</span>
                        </span>
                    {% endif %}
                    <a href="{% url 'product_detail' category.slug product.slug %}">
                        <div class="card-img-top img-fluid align-self-stretch" style="height: 300px; overflow: hidden; display: flex; align-items: center;">
                            {% if product.collage_image_url %}
                                <img src="{{ product.collage_image_url }}" class="img-fluid mx-auto" alt="{{ product.title }}" style="max-height: 100%; margin-top: 5px;">
                            {% else %}
                                <div class="w-100 text-center">
                                    <p>{% trans 'Нет изображения' %}</p>
                                </div>
                            {% endif %}
                        </div>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'product_detail' category.slug product.slug %}">{{ product.title }}</a>
                        </h5>
                        <div class="card-text">
                            <p>{% trans 'Артикул' %}: {{ product.sku }}</p>
                            <p>{% trans 'Цвета' %}: {{ product.get_colors }}</p>
                            <p>{% trans 'Размеры' %}: {{ product.get_sizes }}</p>
                            <p>
                                {% if product.sale_price > 0 %}
                                    <span class="text-danger">
                                        {% if product.price > 0 %}
                                            <del>{% trans 'Цена' %}: {{ product.price }} {{ product.currency }}</del><br>
                                        {% endif %}
                                        <strong>{% trans 'Цена распродажи' %}: {{ product.sale_price }} {{ product.currency }}</strong>
                                    </span>
                                {% else %}
                                    {% if product.price > 0 %}
                                        <strong>{% trans 'Цена' %}: {{ product.price }} {{ product.currency }}</strong>
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'product_detail' category.slug product.slug %}" class="btn btn-primary w-100">{% trans 'Перейти' %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="{% trans 'First' %}">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="{% trans 'Previous' %}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">{% trans 'Страница' %} {{ products.number }} {% trans 'из' %} {{ products.paginator.num_pages }}.</span>
            </li>

            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="{% trans 'Next' %}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}" aria-label="{% trans 'Last' %}">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% if products|length == 0 %}
        <p>{% trans 'Нет товаров в этой категории' %}</p>
    {% endif %}
{% endblock %}
