{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Оформление заказа' %}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="margin-top: 5px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans 'Главная' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Оформление заказа' %}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
    <h1>{% trans 'Оформление заказа' %}</h1>

    <!-- Секция для списка товаров в заказе -->
    <div class="container-fluid mt-5">
        <h2>{% trans 'Ваш заказ' %}</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>{% trans 'Изображение' %}</th>
                        <th>{% trans 'Наименование товара' %}</th>
                        <th>{% trans 'Цвет' %}</th>
                        <th>{% trans 'Размер' %}</th>
                        <th>{% trans 'Количество' %}</th>
                        <th>{% trans 'Сумма' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr class="table-active">
                            <td><a href="{{ item.modification.product.get_absolute_url }}"><img src="{{ item.modification.thumbnail_image_url }}" alt="Миниатюра" class="img-thumbnail" style="max-width: 50px; height: auto;"></a></td>
                            <td><a href="{{ item.modification.product.get_absolute_url }}">{{ item.modification.product.title }}</a></td>
                            <td>{{ item.modification.color }}</td>
                            <td>{{ item.modification.size }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                {% if item.item_total_sale %}
                                    <del>{{ item.item_total_regular }} грн.</del><br>
                                    {{ item.item_total_sale }} грн.
                                {% else %}
                                    {{ item.item_total_regular }} грн.
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p><strong>{% trans 'Итого количество товаров' %}:</strong> {{ cart_total_quantity }} шт.</p>
        <p><strong>{% trans 'Итоговая цена:' %}</strong> {{ cart_total_price }} грн.</p>
    </div>

    <!-- Форма для данных о клиенте и заказе -->
    <form method="post" onsubmit="trackPurchase();">
        {% csrf_token %}
        <div class="row">
            <!-- Левая колонка -->
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form.name.label_tag }} *
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    {{ form.surname.label_tag }} *
                    {{ form.surname }}
                </div>
                <div class="mb-3">
                    {{ form.phone.label_tag }} *
                    {{ form.phone }}
                </div>

                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div class="form-group">
                    {{ form.contact_method.label_tag }}
                    <div>
                        {% for checkbox in form.contact_method %}
                            <div class="form-check form-check-inline">
                                {{ checkbox.tag }}
                                {{ checkbox.choice_label }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Правая колонка -->
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form.delivery_method.label_tag }} *
                    {{ form.delivery_method }}
                </div>
                <div class="mb-3">
                    {{ form.city.label_tag }} *
                    {{ form.city }}
                </div>
                <div class="mb-3">
                    {{ form.post_office.label_tag }} *
                    {{ form.post_office }}
                </div>
                <div class="mb-3">
                    {{ form.payment_method.label_tag }} *
                    {{ form.payment_method }}
                </div>
                <div class="mb-3">
                    {{ form.comment.label_tag }}
                    {{ form.comment }}
                </div>
            </div>
        </div>

        <!-- Кнопка для завершения заказа -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary mb-2 btn-success">{% trans 'Завершить заказ' %}</button>
        </div>
    </form>
</div>

<script>
    function trackPurchase() {
        var contentIds = [
            {% for item in cart_items %}
                '{{ item.modification.product.sku }}',
            {% endfor %}
        ];

        var contentType = 'product';
        var numItems = {{ cart_total_quantity }};

        var purchaseData = {
            'content_type': contentType,
            'content_ids': contentIds,
            'currency': 'UAH',
            'num_items': numItems,
            'value': '{{ cart_total_price }}'
        };

        fbq('track', 'Purchase', purchaseData);
    }
</script>

<script>
    function trackInitiateCheckout() {
        var contentIds = [
            {% for item in cart_items %}
                '{{ item.modification.product.sku }}',
            {% endfor %}
        ];

        var contentType = 'product';
        var numItems = {{ cart_total_quantity }};
        var totalValue = 0;

        {% for item in cart_items %}
            totalValue += {{ item.item_total_sale|default:item.item_total_regular }};
        {% endfor %}

        var initiateCheckoutData = {
            'value': totalValue,
            'currency': 'UAH',
            'content_ids': contentIds,
            'content_type': contentType,
            'num_items': numItems
        };

        fbq('track', 'InitiateCheckout', initiateCheckoutData);
    }

    window.onload = function() {
        trackInitiateCheckout();
    };
</script>

{% endblock %}
