{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Оформление заказа' %}{% endblock %}

{% block breadcrumbs %}
    <!-- Хлебные крошки для страницы Оформление заказа -->
    <nav aria-label="breadcrumb" style="margin-top: 5px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans 'Главная' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Оформление заказа' %}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>{% trans 'Оформление заказа' %}</h1>
    <!-- Секция для списка товаров в заказе -->
    <div class="container mt-5">
        <h2>{% trans 'Ваш заказ' %}</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>{% trans 'Изображение' %}</th>
                        <th>{% trans 'Наименование товара' %}</th>
                        <th>{% trans 'Цвет' %}</th>
                        <th>{% trans 'Размер' %}</th>
                        <th>{% trans 'Количество' %}</th>
                        <th>{% trans 'Сумма' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr class="table-active">
                            <td><a href="{{ item.modification.product.get_absolute_url }}"><img src="{{ item.modification.thumbnail_image_modification_url }}" alt="Миниатюра" class="img-thumbnail"></a></td>
                            <td><a href="{{ item.modification.product.get_absolute_url }}">{{ item.modification.product.title }}</a></td>
                            <td>{{ item.modification.color }}</td>
                            <td>{{ item.modification.size }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                {% if item.item_total_sale %}
                                    <del>{{ item.item_total_regular }} грн.</del><br>
                                    {{ item.item_total_sale }} грн.
                                {% else %}
                                    {{ item.item_total_regular }} грн.
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p><strong>{% trans 'Итого количество товаров' %}:</strong> {{ cart_total_quantity }} шт.</p>
        <p><strong>{% trans 'Итоговая цена:' %}</strong> {{ cart_total_price }} грн.</p>
    </div>

    <!-- Форма для данных о клиенте и заказе -->
    {% trans '* обязательные' %}
    <form method="post" onsubmit="trackPurchase();">
        {% csrf_token %}
        <div class="row">
            <!-- Левая колонка для десктопной версии -->
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">{% trans 'Имя' %} *</th>
                            <td>{{ form.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans 'Фамилия' %} *</th>
                            <td>{{ form.surname }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans 'Телефон' %} *</th>
                            <td>{{ form.phone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans 'Как с вами связаться?' %}</th>
                            <td>{{ form.contact_method }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ form.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Правая колонка для десктопной версии -->
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">{% trans 'Способ доставки' %} *</th>
                            <td>{{ form.delivery_method }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans 'Населенный пункт' %} *</th>
                            <td>{{ form.city }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans 'Отделение' %} *</th>
                            <td>{{ form.post_office }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans 'Способ оплаты' %} *</th>
                            <td>{{ form.payment_method }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans 'Комментарий к заказу' %}</th>
                            <td>{{ form.comment }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Кнопка для завершения заказа -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary mb-2 btn-success">{% trans 'Завершить заказ' %}</button>
        </div>
    </form>
</div>

<script>
    function trackPurchase() {
        var contentIds = [
            {% for item in cart_items %}
                {'id': '{{ item.modification.custom_sku }}', 'quantity': {{ item.quantity }}},
            {% endfor %}
        ];

        var contentType = 'product';

        var purchaseData = {
            'content_type': contentType,
            'contents': contentIds,
            'currency': 'UAH',
            'num_items': {{ cart_total_quantity }},
            'value': '{{ cart_total_price }}'
        };

        fbq('track', 'Purchase', purchaseData);
    }
</script>

<script>
    // Функция для отслеживания события начала оформления заказа
    function trackInitiateCheckout() {
        var contentIds = [
            {% for item in cart_items %}
                {'id': '{{ item.modification.custom_sku }}', 'quantity': {{ item.quantity }}},
            {% endfor %}
        ];

        var contentType = 'product';

        var initiateCheckoutData = {
            'value': '{{ cart_total_price }}',
            'currency': 'UAH',
            'content_ids': contentIds,
            'content_type': contentType
        };

        fbq('track', 'InitiateCheckout', initiateCheckoutData);
    }

    // Вызов функции для отслеживания события начала оформления заказа при загрузке страницы
    window.onload = function() {
        trackInitiateCheckout();
    };
</script>

{% endblock %}
