<!-- contacts_page.html -->

{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block breadcrumbs %}
    <!-- Хлебные крошки для страницы контактов -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Контакты</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <i class="fa-solid fa-map-location fa-10x"></i>
</div>
    <div class="container mt-4">
        <h2>Наши контакты</h2>
        <p>
            Будем рады вас видеть по адресу г. Одесса, рынок 7км, Аппаратурный ряд 4904 новые ролеты. Оптовикам делаем скидки в зависимости от объема.<br>
            <span class="text-success">Есть Дропшиппинг - отправляем на вашего клиента.</span><br>
            Присоединяйтесь к нам в социальные сети Viber и Telegram, чтобы быть в курсе всех новинок.
        </p>

        <div class="row">
            <div class="col-md-6">
                <p><strong>Email:</strong> deva7km@gmail.com</p>
                <p><strong>Телефон:</strong> <a href="tel:+380930972066">+38 (093) 0972066</a> <i class="fa-brands fa-telegram fa-lg" onclick="trackLead('Telegram')"></i> <i class="fa-brands fa-viber fa-lg" onclick="trackLead('Viber')"></i></p>
                <!-- Добавьте дополнительные контактные данные при необходимости -->
            </div>
            <div class="col-md-6">
                <p><strong>Социальные сети:</strong></p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://t.me/deva_opt" target="_blank"><i class="fa-brands fa-telegram fa-bounce fa-xl" style="color: #0088cc;" onclick="trackLead('Telegram')"></i> Страница Telegram</a></li>
                    <li class="list-inline-item"><a href="https://invite.viber.com/?g2=AQBuUzRe8Gw0%2FEi7pspJf0fM%2BH8NiG5Y29yYk7cVPlpVa%2Brr0uEO%2BNMjgffQucXf" target="_blank"><i class="fa-brands fa-viber fa-bounce fa-xl" style="color: #665cac;" onclick="trackLead('Viber')"></i> Страница Viber</a></li>
                    <!-- Добавьте дополнительные ссылки на социальные сети при необходимости -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Ваш скрипт отслеживания лидов -->
    <script>
        function trackLead(platform) {
            // Здесь добавьте код отслеживания события для вашей аналитической системы
            // Например, для пикселя Facebook:
            fbq('track', 'Lead', { platform: platform });
        }
    </script>

{% endblock %}
