<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <p><strong>{% trans 'Email:' %}</strong> deva7km@gmail.com</p>
            <p><strong>{% trans 'Телефон:' %}</strong> <a href="tel:+380930972066">+38 (093) 0972066</a> <i class="fa-brands fa-telegram fa-lg"></i> <i class="fa-brands fa-viber fa-lg"></i></p>
            <!-- Добавьте дополнительные контактные данные при необходимости -->
        </div>
        <div class="col-md-6">
            <p><strong>{% trans 'Социальные сети:' %}</strong></p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a id="telegram-link" href="https://t.me/+sKylcm-sVEE1ODUy" target="_blank">
                        <i class="fa-brands fa-telegram fa-bounce fa-xl" style="color: #0088cc;"></i> {% trans 'Страница Telegram' %}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="viber-link" href="https://invite.viber.com/?g2=AQBuUzRe8Gw0%2FEi7pspJf0fM%2BH8NiG5Y29yYk7cVPlpVa%2Brr0uEO%2BNMjgffQucXf" target="_blank">
                        <i class="fa-brands fa-viber fa-bounce fa-xl" style="color: #665cac;"></i> {% trans 'Страница Viber' %}
                    </a>
                </li>
                <!-- Добавьте дополнительные ссылки на социальные сети при необходимости -->
            </ul>
        </div>
    </div>
</body>
</html>
