<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <p><strong>{% trans 'Email:' %}</strong> deva7km@gmail.com</p>
            <p><strong>{% trans 'Телефон:' %}</strong> <a href="tel:+380930972066">+38 (093) 0972066</a> <i class="fa-brands fa-telegram fa-lg"></i> <i class="fa-brands fa-viber fa-lg"></i></p>
            <!-- Добавьте дополнительные контактные данные при необходимости -->
        </div>
        <div class="col-md-6">
            <p><strong>{% trans 'Свяжитесь с нами:' %}</strong></p>
            <ul class="list-inline">
                <li class="list-inline-item" style="margin: 10px;">
                    <a id="telegram-link" href="https://t.me/divaua" target="_blank">
                        <i class="fa-brands fa-telegram fa-bounce fa-xl" style="color: #0088cc;"></i> Telegram
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="viber-link" href="viber://chat?number=%2B380635622568" target="_blank" style="margin: 10px;">
                        <i class="fa-brands fa-viber fa-bounce fa-xl" style="color: #665cac;"></i> Viber
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="messenger-link" href="https://m.me/432162513828457" target="_blank" style="margin: 10px;">
                        <i class="fa-brands fa-facebook-messenger fa-bounce fa-xl" style="color: #0084FF;"></i> Messenger
                    </a>
                </li><li class="list-inline-item">
                    <a id="instagram-link" href="https://ig.me/m/deva7km" target="_blank">
                        <i class="fa-brands fa-instagram fa-bounce fa-xl" style="color: #E4405F; margin: 10px;"></i> Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
