{% load static i18n %}

<!-- contact_menu_bottom.html -->
<div class="d-flex flex-wrap">
    <a class="nav-link mr-3 mb-3" href="{% url 'about' %}">{% trans 'О сайте' %}</a>
    <a class="nav-link mr-3 mb-3" href="{% url 'contacts' %}">{% trans 'Контакты' %}</a>
    <a class="nav-link mr-3 mb-3" href="{% url 'delivery' %}">{% trans 'Доставка' %}</a>
    <a class="nav-link mr-3 mb-3" href="{% url 'payment' %}">{% trans 'Оплата' %}</a>
    <a class="nav-link mr-3 mb-3" href="{% url 'privacy_policy' %}">{% trans 'Политика конфиденциальности' %}</a>
    <!-- Добавьте дополнительные пункты по необходимости -->
</div>