<!-- contacts_page.html -->

{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block breadcrumbs %}
    <!-- Хлебные крошки для страницы контактов -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Контакты</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
        <!-- Отобразить контент конкретного блог-поста -->
      <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text">{{ contacts_page_post.content|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>

{% include 'contacts_info.html' %}

<!-- скрипт отлова lead для fb -->
    <script>
        document.getElementById('telegram-link').addEventListener('click', function() {
            // Отправить событие фейсбук-лида для кнопки Telegram
            fbq('track', 'Lead', {
                content_name: 'Telegram Button Click',
                // Дополнительные параметры, если необходимо
            });
        });

        document.getElementById('viber-link').addEventListener('click', function() {
            // Отправить событие фейсбук-лида для кнопки Viber
            fbq('track', 'Lead', {
                content_name: 'Viber Button Click',
                // Дополнительные параметры, если необходимо
            });
        });
    </script>
{% endblock %}
