{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Информация о доставке и оплате' %}{% endblock %}

{% block breadcrumbs %}
    <!-- Хлебные крошки для страницы доставки и оплате -->
    <nav aria-label="breadcrumb" style="margin-top: 5px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans 'Главная' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Доставка и оплата' %}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<!-- Отобразить контент конкретного блог-поста -->
      <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text">{{ payment_page_post.content|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
{% endblock %}
