{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Главная' %}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb" style="margin-top: 5px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Главная' %}</a></li>
    </ol>
</nav>
{% endblock %}

{% block content %}

<h2>{% trans 'Новинки' %}</h2>
<div class="row">
    {% for product in latest_products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 position-relative">
            {% if product.sale_price > 0 %}
            <span class="badge bg-danger position-absolute top-0 start-0 m-2">
                <span class="text-white">{% trans 'Распродажа' %}</span>
            </span>
            {% endif %}
            <a href="{% url 'product_detail' product.category.slug product.slug %}">
                <div class="card-img-top img-fluid align-self-stretch" style="height: 300px; overflow: hidden; display: flex; align-items: center;">
                    {% if product.collage_image %}
                        <img src="{{ product.collage_image_url }}" class="img-fluid mx-auto" alt="{{ product.title }}" style="max-height: 100%; margin-top: 5px;">
                    {% else %}
                        <div class="w-100 text-center">
                            <p>{% trans 'Нет изображения' %}</p>
                        </div>
                    {% endif %}
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a>
                </h5>
                <div class="card-text">
                    <p>{% trans "Категория" %}: <a href="{% url 'category_detail' product.category.slug %}">{{ product.category.name }}</a></p>
                    <p>{% trans "Артикул" %}: {{ product.sku }}</p>
                    <p>{% trans "Цвета" %}: {{ product.get_colors }}</p>
                    <p>{% trans "Размеры" %}: {{ product.get_sizes }}</p>
                    <p>
                        {% if product.sale_price > 0 %}
                            <span class="text-danger">
                                {% if product.price > 0 %}
                                    <del>{% trans "Цена" %}: {{ product.price }} {{ product.currency }}</del><br>
                                {% endif %}
                                <strong>{% trans "Цена распродажи" %}: {{ product.sale_price }} {{ product.currency }}</strong>
                            </span>
                        {% else %}
                            <strong>{% trans "Цена" %}: {{ product.price }} {{ product.currency }}</strong>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'product_detail' product.category.slug product.slug %}" class="btn btn-primary w-100">{% trans "Перейти" %}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Отобразить контент конкретного блог-поста -->
<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ main_page_post.title }}</h5>
          <p class="card-text">{{ main_page_post.content|safe }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'contacts_info.html' %}
{% endblock %}
