{% load static %}
{% load i18n %}

<!-- Основное меню -->
<ul class="navbar-nav mr-auto">
    <!-- Формирование главного меню из категорий сайта -->
    {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-black bg-dark" href="{% url 'category_detail' category.slug %}">{% trans category.name %}</a>
        </li>
    {% endfor %}
    <!-- Пункты "Распродажа" и "Все товары" справа -->
    <li class="nav-item">
        <a class="nav-link font-weight-bold text-black bg-dark text-danger" href="{% url 'sales' %}">{% trans 'Распродажа' %}</a>
    </li>
</ul>







