{% extends "base.html" %}

{% block title %}{{ product.title }}{% endblock %}

{% block breadcrumbs %}
    <!-- Хлебные крошки для страницы товара -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<script>
    // Добавляем отслеживание события ViewContent
    fbq('track', 'ViewContent', {
        content_name: '{{ product.title }}',  // Название контента (например, заголовок товара)
        content_category: '{{ product.category.name }}',  // Категория контента
        content_ids: {{ product.sku }},  // ID контента (например, ID товара)
        content_type: 'product',  // Тип контента (например, товар)
        value: {% if product.sale_price > 0 %}{{ product.sale_price }}{% else %}{{ product.price }}{% endif %},  // Стоимость контента (например, цена товара)
        currency: '{{ product.currency }}'  // Валюта
    });
</script>

{% if product.is_sale and product.sale_price > 0 %}
    <span class="badge bg-danger" style="font-size: 1em; margin-left: 5px;">
        <span class="text-white">Распродажа</span>
    </span>
{% endif %}
<div class="product-details">
    <h1>{{ product.title }}</h1>
    <p><strong>Категория:</strong> <a href="{% url 'category_detail' product.category.slug %}">{{ product.category.name }}</a></p>
    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Артикул:</strong> {{ product.sku }}</p>
    <p><strong>Цвета:</strong>
        {% for color in product.colors.all %}
            {{ color.name }},
        {% empty %}
            Нет данных
        {% endfor %}
    </p>
    <p><strong>Размеры:</strong>
        {% for size in product.sizes.all %}
            {{ size.name }},
        {% empty %}
            Нет данных
        {% endfor %}
    </p>
    <div class="card-text">
        {% if product.is_sale and product.sale_price > 0 %}
            <p class="text-danger">
                {% if product.price > 0 %}
                    <del>Цена: {{ product.price }} {{ product.currency }}</del><br>
                {% endif %}
                <strong>Цена распродажи: {{ product.sale_price }} {{ product.currency }}</strong>
            </p>
        {% else %}
            <p>
                {% if product.price > 0 %}
                    <strong>Цена: {{ product.price }} {{ product.currency }}</strong>
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>

<!-- Кнопки купить -->
<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <a href="https://t.me/Natadeva_7km" class="btn btn-primary btn-sm">
        <i class="fab fa-telegram"></i> Купить в Telegram
    </a>
    <a href="viber://chat?number=+380930972066" class="btn btn-primary btn-sm">
        <i class="fab fa-viber"></i> Купить в Viber
    </a>
</div>

<!-- Отображение таблицы с модификациями товара -->
<div class="product-modifications">
    <h2>Остатки</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Цвет</th>
                <th scope="col">Размер</th>
                <th scope="col">Наличие</th>
            </tr>
        </thead>
        <tbody>
            {% for modification in modifications %}
                <tr class="{% if modification.stock > 3 %}table-success{% elif modification.stock > 0 %}table-warning{% else %}table-danger{% endif %}">
                    <td>{{ modification.color.name }}</td>
                    <td>{{ modification.size.name }}</td>
                    <td>
                        {% if modification.stock > 3 %}
                            В наличии
                        {% elif modification.stock > 0 %}
                            Заканчивается
                        {% else %}
                            Нет в наличии
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Отображение изображений товара -->
<div class="product-image">
    <h2>Изображения</h2>
    {% for color, images in unique_color_images.items %}
        <h3>{{ color }}</h3>
        {% for image in images %}
            <img src="{{ image.large_image.url }}" alt="{{ product.title }}" class="img-fluid d-block my-3">
        {% endfor %}
    {% empty %}
        <p>Нет изображений</p>
    {% endfor %}
</div>
{% endblock %}
