{% extends "base.html" %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
    <div class="product-details">
        <h1>{{ product.title }}</h1>
        <p><strong>Категория:</strong> {{ product.category }}</p>
        <p><strong>Описание:</strong> {{ product.description }}</p>
        <p><strong>Артикул:</strong> {{ product.sku }}</p>
        <p><strong>Цвета:</strong>
            {% for color in product.colors.all %}
                {{ color.name }},
            {% empty %}
                Нет данных
            {% endfor %}
        </p>
        <p><strong>Размеры:</strong>
            {% for size in product.sizes.all %}
                {{ size.name }},
            {% empty %}
                Нет данных
            {% endfor %}
        </p>
        <p><strong>Цена:</strong> {{ product.price }} {{ product.currency }}</p>
        <p><strong>Дата создания:</strong> {{ product.created_at }}</p>
    </div>

    <!-- Отображение изображений товара -->
    <div class="product-image">
        <h2>Изображения товара</h2>
        {% for color, images in unique_color_images.items %}
            <h3>{{ color }}</h3>
            {% for image in images %}
                <img src="{{ image.large_image.url }}" alt="{{ product.title }}" class="img-fluid d-block my-3">
            {% endfor %}
        {% empty %}
            <p>Нет изображений</p>
        {% endfor %}
    </div>
{% endblock %}
