{% extends "base.html" %}

{% block title %}Распродажа{% endblock %}

{% block breadcrumbs %}
    <!-- Хлебные крошки для главной страницы -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Домой</a></li>
            <li class="breadcrumb-item active" aria-current="page">Распродажа</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>Распродажа</h1>
    <div class="row">
        {% for product in sale_products %}
            {% if product.is_active %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 d-flex flex-column justify-content-between position-relative">
                        <a href="{% url 'product_detail' product.category.slug product.slug %}">
                            <img src="{{ product.large_image_url }}" class="card-img-top img-fluid align-self-stretch" alt="{{ product.title }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a>
                            </h5>
                            <div class="card-text">
                                <p>Артикул: {{ product.sku }}</p>
                                <p>Цвета: {{ product.get_colors }}</p>
                                <p>Размеры: {{ product.get_sizes }}</p>
                                <p class="text-danger">
                                    <del>Цена: {{ product.price }} {{ product.currency }}</del><br>
                                    <strong>Цена распродажи: {{ product.sale_price }} {{ product.currency }}</strong>
                                </p>
                                <span class="badge bg-danger position-absolute" style="top: 5px; left: 5px; font-size: 1em;">
                                    <span class="text-white">Распродажа</span>
                                </span>
                            </div>
                        </div>
                        <a href="{% url 'product_detail' product.category.slug product.slug %}" class="btn btn-primary w-100">Перейти</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Ваш код для пагинации -->

    {% if sale_products|length == 0 %}
        <p>Нет товаров в распродаже</p>
    {% endif %}
{% endblock %}
