{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Распродажа' %}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans 'Домой' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Распродажа' %}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>{% trans 'Распродажа' %}</h1>
    <div class="row">
        {% for product in sale_products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <span class="badge bg-danger position-absolute top-0 start-0 m-2">
                        <span class="text-white">{% trans 'Распродажа' %}</span>
                    </span>
                    <a href="{% url 'product_detail' product.category.slug product.slug %}">
                        <div class="card-img-top img-fluid align-self-stretch" style="height: 300px; overflow: hidden; display: flex; align-items: center;">
                            <img src="{{ product.large_image_url }}" class="img-fluid mx-auto" alt="{{ product.title }}" style="max-height: 100%; margin-top: 5px;">
                        </div>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a>
                        </h5>
                        <div class="card-text">
                            <p>{% trans 'Артикул' %}: {{ product.sku }}</p>
                            <p>{% trans 'Цвета' %}: {{ product.get_colors }}</p>
                            <p>{% trans 'Размеры' %}: {{ product.get_sizes }}</p>
                            <p class="text-danger">
                                <del>{% trans 'Цена' %}: {{ product.retail_price }} {{ product.currency }}</del><br>
                                <strong>{% trans 'Цена распродажи' %}: {{ product.retail_sale_price }} {{ product.currency }}</strong>
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'product_detail' product.category.slug product.slug %}" class="btn btn-primary w-100">{% trans 'Перейти' %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if sale_products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="{% trans 'First' %}">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ sale_products.previous_page_number }}" aria-label="{% trans 'Previous' %}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">{% trans 'Страница' %} {{ sale_products.number }} {% trans 'из' %} {{ sale_products.paginator.num_pages }}.</span>
            </li>

            {% if sale_products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ sale_products.next_page_number }}" aria-label="{% trans 'Next' %}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ sale_products.paginator.num_pages }}" aria-label="{% trans 'Last' %}">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% if sale_products|length == 0 %}
        <p>{% trans 'Нет товаров в распродаже' %}</p>
    {% endif %}
{% endblock %}
