{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Спасибо за заказ!' %}{% endblock %}

{% block breadcrumbs %}
    <!-- Хлебные крошки для страницы Спасибо за заказ -->
    <nav aria-label="breadcrumb" style="margin-top: 5px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans 'Главная' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Спасибо за заказ' %}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{% trans 'Спасибо за ваш заказ!' %}</h1>
    <h3>{% trans 'Номер вашего заказа:' %} <span class="badge badge-danger">{{ order.id }}</span></h3>
    <div class="alert alert-dismissible alert-primary text-center" data-toggle="collapse" data-target="#social-links" aria-expanded="false" aria-controls="social-links">
        <strong>
            {% trans 'Вы также можете связаться с нами в социальных сетях, если у вас есть вопросы или вы хотите быстрее обработать ваш заказ' %}<br><br>
            <i class="fa-solid fa-angles-down fa-beat fa-lg"></i>
        </strong>
    </div>
    <div class="collapse" id="social-links">
        <ul class="list-group list-group-flush">
            <div class="row mb-3"> <!-- Добавлен класс mb-3 для отступа снизу -->
                <div class="col">
                    <li class="list-group-item">
                        <a id="telegram-link" href="https://t.me/divaua" target="_blank">
                            <i class="fa-brands fa-telegram fa-bounce fa-xl" style="color: #0088cc;"></i> Telegram
                        </a>
                    </li>
                </div>
                <div class="col">
                    <li class="list-group-item">
                        <a id="viber-link" href="viber://chat?number=%2B380635622568" target="_blank">
                            <i class="fa-brands fa-viber fa-bounce fa-xl" style="color: #665cac;"></i> Viber
                        </a>
                    </li>
                </div>
            </div>
            <div class="row mb-3"> <!-- Добавлен класс mb-3 для отступа снизу -->
                <div class="col">
                    <li class="list-group-item">
                        <a id="messenger-link" href="https://m.me/432162513828457" target="_blank">
                            <i class="fa-brands fa-facebook-messenger fa-bounce fa-xl" style="color: #0084FF;"></i> Messenger
                        </a>
                    </li>
                </div>
                <div class="col">
                    <li class="list-group-item">
                        <a id="instagram-link" href="https://ig.me/m/deva7km" target="_blank">
                            <i class="fa-brands fa-instagram fa-bounce fa-xl" style="color: #E4405F;"></i> Instagram
                        </a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>{% trans 'Изображение' %}</th>
                    <th>{% trans 'Наименование' %}</th>
                    <th>{% trans 'Цвет' %}</th>
                    <th>{% trans 'Размер' %}</th>
                    <th>{% trans 'Количество' %}</th>
                    <th>{% trans 'Сумма' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr class="table-active">
                        <td>{{ item.product_modification.thumbnail_image_modification }}</td>
                        <td>{{ item.product_modification.product.title }}</td>
                        <td>{{ item.product_modification.color }}</td>
                        <td>{{ item.product_modification.size }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            {% if item.product_modification.product.retail_sale_price > 0 %}
                                <del>{{ item.retail_total_price.1 }} грн.</del><br> <!-- Зачеркнутая цена -->
                                {{ item.retail_total_price.0 }} грн.
                            {% else %}
                                {{ item.retail_total_price.1 }} грн.
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <p>{% trans 'Общая сумма заказа' %}:
            {{ total_amount }} грн.
        </p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>{% trans 'Информация о заказе' %}:</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">{% trans 'Имя' %}</th>
                        <td>{{ order.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Фамилия' %}</th>
                        <td>{{ order.surname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Телефон' %}</th>
                        <td>{{ order.phone }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Email' %}</th>
                        <td>{{ order.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Связь с клиентом' %}</th>
                        <td>{{ order.contact_method }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">{% trans 'Способ доставки' %}</th>
                        <td>{{ order.delivery_method }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Населенный пункт' %}</th>
                        <td>{{ order.city }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Отделение почты' %}</th>
                        <td>{{ order.post_office }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Способ оплаты' %}</th>
                        <td>{{ order.payment_method }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Комментарий к заказу' %}</th>
                        <td>{{ order.comment }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Статус заказа' %}</th>
                        <td><span class="badge badge-warning">{{ order.get_status_display }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-3 mb-5 text-center"> <!-- Добавлены классы для отступа снизу и центрирования -->
    <a href="/" class="btn btn-primary">{% trans 'Вернуться на главную' %}</a>
</div>
{% endblock %}

<script>
    // Создаем массив словарей с информацией о покупке
    var contents = [
        {% for item in order.items.all %}
            {'id': '{{ item.product_modification.custom_sku }}', 'quantity': {{ item.quantity }}},
        {% endfor %}
    ];

    // Определяем тип контента
    var contentType = 'product_group';

    // Создаем объект с информацией о покупке
    var purchaseData = {
        'content_type': contentType,
        'contents': contents,
        'currency': 'UAH',
        'num_items': {{ order.items.count }},
        'value': {{ total_amount }}
    };

    // Отправляем данные о покупке
    fbq('track', 'Purchase', purchaseData);
</script>
