{% extends 'seller_cabinet/base.html' %}
{% load static %}

{% block title %}Продажи{% endblock %}

{% block content %}
    <h1>Продажи</h1>
    <div class="alert alert-danger alert-dismissible fade" id="error-alert" role="alert">
        <strong>Ошибка!</strong> <span id="error-message"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-success alert-dismissible fade" id="success-alert" role="alert">
        <strong>Успех!</strong> <span id="success-message"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="input-group mb-3">
        <input type="text" id="search-article" class="form-control" placeholder="Введите артикул" aria-label="Введите артикул">
        <button id="clear-search" class="btn btn-danger" type="button">Очистить</button>
    </div>

    <div id="available-items" class="my-4 search-results">
        <!-- Список доступных товаров будет загружаться сюда через AJAX -->
    </div>

    <div class="more-results text-center" style="display:none;">
        <button class="btn btn-sm btn-primary" id="load-more-results" data-next-page="2">Загрузить еще</button>
    </div>

    <div id="selected-items" class="my-5">
        <h2>Выбранные товары</h2>
        <div class="table-responsive">
            <table id="selected-items-table" class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Арт.</th>
                        <th>Кол-во</th>
                        <th>Сумма</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'seller_cabinet/sales/partials/selected_items.html' %}
                </tbody>
            </table>
        </div>
        <p class="text-right font-weight-bold">Итоговая сумма: <span id="total-amount">{{ pending_sale.total_amount }}</span> грн</p>
        <button id="clear-order" class="btn btn-danger btn-block">Очистить заказ</button>
        <button id="sell-button" class="btn btn-success btn-block">Продать</button>
    </div>

    <div id="daily-sales" class="my-5">
        <h2>Ежедневные продажи</h2>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th></th>
                        <th>Товары</th>
                        <th>Цена</th>
                        <th>Кол-во</th>
                        <th>Время</th>
                    </tr>
                </thead>
                <tbody id="daily-sales-table-body">
                    {% include 'seller_cabinet/sales/partials/daily_sales_table.html' %}
                </tbody>
            </table>
        </div>
        <p class="text-right font-weight-bold">
          Итоговая сумма продаж за день:
          <span class="badge bg-primary">
            <span id="total-daily-sales-amount">{{ total_daily_sales_amount }}</span> грн
          </span>
        </p>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const csrf_token = '{{ csrf_token }}';
        const add_item_to_sale_url = '{% url "add_item_to_sale" %}';
        const remove_item_from_sale_url = '{% url "remove_item_from_sale" %}';
        const clear_sale_url = '{% url "clear_sale" %}';
        const confirm_sale_url = '{% url "confirm_sale" %}';
        const get_pending_sale_items_url = '{% url "get_pending_sale_items" %}';
        const get_daily_sales_url = '{% url "get_daily_sales" %}';
        const search_article_url = '{% url "search_article" %}';  <!-- Добавили переменную -->
        const pending_sale_id = {% if pending_sale %} '{{ pending_sale.id }}' {% else %} null {% endif %};
    </script>
    <script src="{% static 'seller_cabinet/js/seller_sales.js' %}"></script>
{% endblock %}
