<div class="search-results">
    {% for modification in modifications %}
    <div class="item search-item d-flex align-items-center p-2 border-bottom" data-item-id="{{ modification.id }}" data-quantity="{{ modification.stock }}">
        <div class="item-thumbnail">
            <img src="{{ modification.thumbnail_image_modification_url }}" alt="{{ modification.product.title }}" class="thumbnail">
        </div>
        <div class="item-details flex-grow-1 ml-2">
            <div class="item-title">{{ modification.product.title }} - {{ modification.custom_sku }}</div>
            <div class="item-stock text-muted">({{ modification.stock }} в наличии)</div>
        </div>
        <div class="item-add-button">
            <button class="btn btn-sm btn-warning add-item-button" data-item-id="{{ modification.id }}">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    {% endfor %}
    {% if has_more %}
    <div class="more-results text-center p-2">
        <button class="btn btn-sm btn-primary" id="load-more-results" data-next-page="{{ next_page_number }}">Загрузить еще</button>
    </div>
    {% endif %}
</div>
