{% for sale in daily_sales %}
<tr>
    <td rowspan="{{ sale.items.count }}">{{ sale.id }}</td>
    <td>
        <div class="item-image">
            <img src="{{ sale.items.first.product_modification.thumbnail_image_modification_url }}" alt="{{ sale.items.first.product_modification.product.title }}" class="thumbnail">
        </div>
    </td>
    <td>{{ sale.items.first.product_modification.custom_sku }}</td>
    <td>{{ sale.items.first.product_modification.product.get_actual_wholesale_price }}</td>
    <td>{{ sale.items.first.quantity }}</td>
    <td rowspan="{{ sale.items.count }}">{{ sale.created_at|date:"H:i" }}</td>
</tr>

{% for item in sale.items.all|slice:"1:" %}
<tr>
    <td>
        <div class="item-image">
            <img src="{{ item.product_modification.thumbnail_image_modification_url }}" alt="{{ item.product_modification.product.title }}" class="thumbnail">
        </div>
    </td>
    <td>{{ item.product_modification.custom_sku }}</td>
    <td>{{ item.product_modification.product.get_actual_wholesale_price }}</td>
    <td>{{ item.quantity }}</td>
</tr>
{% endfor %}

<tr>
    <td colspan="6" class="total-sale-price text-right">
        <span class="badge bg-light">Сумма: {{ sale.total_price }} грн</span>
    </td>
</tr>
{% endfor %}
