{% for item in sale.items.all %}
<tr>
    <td>
        <img src="{{ item.product_modification.thumbnail_image_modification_url }}" alt="{{ item.product_modification.product.title }}" class="thumbnail" style="width: 50px; height: 50px; object-fit: cover;">
        {{ item.product_modification.custom_sku }}
    </td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.total_price }}</td>
    <td class="text-end">
        <button class="btn btn-sm btn-danger remove-item-button" data-item-id="{{ item.id }}" data-product-id="{{ item.product_modification.id }}">
            <i class="fas fa-minus"></i>
        </button>
    </td>
</tr>
{% endfor %}
